.wooco-wrap {
    width: 100%;
    margin: 0 auto;
}
.form-group{
    display: flex;
    align-items: center;
    gap: 20px;
}
.form-label{
    width: 200px;
    font-weight: 600;
}
.form-field{
    width: 100%;
}
.woocp-settings-form input[type="text"],
.woocp-settings-form input[type="number"] {
    max-width: 300px;
}